{% extends 'base.html.twig' %}

{% block title %}Actors!{% endblock %}

{% block body %}
    <ul>
        {% for actor in actors %}
            <li>
                {% if actor.poster %}
                    <img src="/uploads/{{ actor.poster }}" alt="test" width="100px" height="100px">
                {% endif %}
                {{ actor.name }} --
                <a href="{{ path('actor_edit', {'id': actor.id}) }}">EDIT</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
