@import "~bootstrap/scss/bootstrap";
@import "_variables";
@import "_navbar.scss";
@import "_home.scss";
@import "_panel.scss";
@import "_cards.scss";
@import "_form.scss";
* {
    font-family: 'Lato', sans-serif;
    color: $linkColor;
    /*color : black;*/
}
body {
    background-color: $bgColor;
}
ul li {
    list-style-type: none;
}
a {
    color: $linkColor;
    text-decoration: none;
}

a:hover {
    color: $hoverColor;
    transition: all .5s;
}

h1 {
    color: $linkColor;
}

h2 {
    color: $hoverColor;
}


