<nav class="navbar sticky-top">
    <div class="container d-flex justify-content-between">
        <div class="row navbar-brand d-flex align-items-center justify-content-center m-0">
            <a class="col-2 logo-bg d-flex align-items-center p-2 ms-3" href="/">
                <img class="logo text-center m-0 w-100" src="{{ asset('build/Logo.png') }}" alt="logo">
            </a>
            <div class="col text-center sub-logo">WILD SERIES</div>
        </div>
        <a class="col-12 col-md-3 text-center" href="#">Connexion</a>
    </div>
</nav>